.recherche { position: relative; }
.recherche input[type="text"] { position: absolute; left: 23.5%; width: 50%; }
.recherche button[type="submit"] { position: absolute; left: 75%;}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

body{
  background-image: url("./img/fond.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#data{
          position:relative; 
          top:50px;
          overflow:auto;
          height: 55vh;
}